package {{packageName}};

import java.io.Serializable;
import com.fasterxml.jackson.annotation.JsonProperty;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
{{#libraries}}
import {{.}};
{{/libraries}}

@Getter
@Setter
@NoArgsConstructor
public class {{className}} implements Serializable {
	private static final long serialVersionUID = 1L;

{{#properties}} 
	@JsonProperty("{{jsonProperty}}")
	{{#annotations}}
	@{{annotationName}}{{{annotationValue}}}
	{{/annotations}}
	private {{{dataType}}} {{fieldName}};

{{/properties}}
}