package {{packageName}};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import {{packageEntity}}.{{className}};

@Repository
public interface {{className}}Repository extends JpaRepository<{{className}}, {{dataType}}> {

}